<div class="flex flex-col w-full">
  <div class="flex justify-center">
    <p class="text-4xl font-semibold mb-10">Películas con Mayor cantidad de WOWs: <%= @wows %></p>
  </div>
  <div class="flex justify-between w-full items-start">
    <%= button_to 'Películas', movies_path, method: :get, class: @class%>
    <%= button_to 'Directores', directors_path, method: :get, class: @class%>
    <%= button_to 'Película Mayor Duración', longest_path, method: :get, class: @class%>
    <%= button_to 'Primero y Último', first_last_path, method: :get, class: @class%>
    <%= button_to 'Mediana', median_path, method: :get, class: @class%>
    <%= button_to 'Más WOWS', most_wows_path, method: :get, class: @class%>
  </div>
  <div class="flex justify-center w-full mt-10">
    <table class="w-3/4 border-2 border-black">
      <thead>
        <tr class="bg-slate-300">
          <th class="text-2xl py-2">Película</th>
          <th class="text-2xl py-2">Año</th>
          <th class="text-2xl py-2">Nº WOWs</th>
          <th class="text-2xl py-2">Personaje Interpretado</th>
          <th class="text-2xl py-2">Imagen</th>
        </tr>
      </thead>
      <tbody>
        <% contador = 0 %>
        <% @movies.each do |pelicula| %>
          <% if contador % 2 == 0 %>
            <tr class="text-center text-lg my-4 bg-slate-100 hover:bg-zinc-300">
              <td><%= pelicula["movie"] %></td>
              <td><%= pelicula["year"] %></td>
              <td><%= pelicula["total_wows_in_movie"] %></td>
              <td><%= pelicula["character"] %></td>
              <td class="flex justify-center items-center"><%= image_tag pelicula["poster"], alt: "Poster", class: "w-20 h-auto"%></td>
            </tr>
          <% else %>
            <tr class="text-center text-lg my-4 bg-slate-100 hover:bg-zinc-300">
              <td><%= pelicula["movie"] %></td>
              <td><%= pelicula["year"] %></td>
              <td><%= pelicula["total_wows_in_movie"] %></td>
              <td><%= pelicula["character"] %></td>
              <td class="flex justify-center items-center"><%= image_tag pelicula["poster"], alt: "Poster", class: "w-20 h-auto"%></td>
            </tr>
          <% end %>
          <% contador += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>