<div class="flex flex-col w-full">
  <div class="flex justify-center">
    <p class="text-4xl font-semibold mb-10">Todas las Películas</p>
  </div>
  <div class="flex justify-between w-full items-start">
    <%= button_to 'Películas', movies_path, method: :get, class: "rounded-md m-5 bg-orange-400/80 px-5 py-2 text-semibold border-black border-2 text-lg hover:opacity-50"%>
    <%= button_to 'Directores', directors_path, method: :get, class: "rounded-md m-5 bg-orange-400/80 px-5 py-2 text-semibold border-black border-2 text-lg hover:opacity-50"%>
    <%= button_to 'Película Mayor Duración', movies_path, method: :get, class: "rounded-md m-5 bg-orange-400/80 px-5 py-2 text-semibold border-black border-2 text-lg hover:opacity-50"%>
    <%= button_to 'Primero y Último', movies_path, method: :get, class: "rounded-md m-5 bg-orange-400/80 px-5 py-2 text-semibold border-black border-2 text-lg hover:opacity-50"%>
    <%= button_to 'Mediana', movies_path, method: :get, class: "rounded-md m-5 bg-orange-400/80 px-5 py-2 text-semibold border-black border-2 text-lg hover:opacity-50"%>
  </div>
</div>