<div class="flex flex-col w-full">
  <div class="flex justify-center">
    <p class="text-4xl font-semibold mb-10">El WOW Mediana</p>
  </div>
  <div class="flex justify-between w-full items-start">
    <%= button_to 'Películas', movies_path, method: :get, class: @class%>
    <%= button_to 'Directores', directors_path, method: :get, class: @class%>
    <%= button_to 'Película Mayor Duración', longest_path, method: :get, class: @class%>
    <%= button_to 'Primero y Último', first_last_path, method: :get, class: @class%>
    <%= button_to 'Mediana', median_path, method: :get, class: @class%>
  </div>
</div>