<!DOCTYPE html>
<html>
  <head>
    <title>DonandoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-Owen bg-center bg-cover h-screen">
    <main class="my-10 mx-20 flex p-10 bg-white border-black border-2 rounded">
      <%= yield %>
    </main>
  </body>
</html>
